
.player {
    background-color: white;
    margin-top: 5em;
    margin-left: 4em;
    display: flex;
    justify-content: space-between;

}

.sidebar {
    margin-left: 3em;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: blueviolet;
}

#views{
    flex-grow: 1;
}

.info {
    display: flex;
    justify-content: space-between;
}